@import "tailwindcss";
@plugin "@tailwindcss/typography";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
}

html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  background-image: url('../assets/background.svg');
  background-size: cover;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, a {
  color: #190830;
}

a:hover, button:hover {
  color:#42157d; 
}

/* nav styles */

.nav-links a {
  display: block;
  margin-right: 9px;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #E7DBF8;
}

:has(.menu[aria-expanded='true']) .nav-links {
  display: unset;
}
