@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --animate-wiggle: wiggle 400ms 0.5s 3 alternate ease-in-out;
  @keyframes wiggle {
    0%, 100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  --animate-purple-gradient: purple-gradient 6s 1s infinite linear;
  @keyframes purple-gradient {
  0% {
    background: linear-gradient(65deg, white, var(--color-purple-400));
  }
  15% {
    background: linear-gradient(70deg, var(--color-purple-400), white 10%, var(--color-purple-400));
  }
  25% {
    background: linear-gradient(75deg, var(--color-purple-400), white 25%, var(--color-purple-400));
  }
  35% {
    background: linear-gradient(80deg, var(--color-purple-400), white 35%, var(--color-purple-400));
  }
  50% {
    background: linear-gradient(85deg, var(--color-purple-400), white 50%, var(--color-purple-400));
  }
  75% {
    background: linear-gradient(90deg, var(--color-purple-400), white 70%, var(--color-purple-400));
  } 
  100% {
    background: linear-gradient(135deg, var(--color-purple-400), white);
  }
}
}

h1, h2, h3, h4, h5, h6 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
  color: var(--color-purple-950);
}

a:hover {
  color: var(--color-violet-800)
}

/* nav styles */

.nav-links a {
  display: block;
  margin-right: 9px;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--color-fuchsia-50);
}

:has(.menu[aria-expanded='true']) .nav-links {
  display: unset;
}
