---
import BaseLayout from '../../layouts/BaseLayout.astro';
import '../../styles/global.css';
import type { MDXInstance } from 'astro';

interface PageFrontmatter {
  title: string;
  description: string;
}

const { frontmatter, Content } = Object.values(
  import.meta.glob('../../content/el/home.mdx', { eager: true }),
)[0] as MDXInstance<PageFrontmatter>;
---

<BaseLayout title="Αντωνίνα Καλλιντέρη" lang="el" description={frontmatter.title}>
  <section class="prose max-w-full m-2">
    <h1 class="md:text-6xl">{frontmatter.title}</h1>
    <h2 class="md:text-3xl font-normal">{frontmatter.description}</h2>
    <Content />
  </section>
</BaseLayout>
