---
import BaseLayout from '../../layouts/BaseLayout.astro';
import TitleSection from '../../components/TitleSection.astro';
import '../../styles/global.css';
import type { MDXInstance } from 'astro';

interface PageFrontmatter {
  title: string;
  description: string;
}

const { frontmatter, Content } = Object.values(
  import.meta.glob('../../content/el/home.mdx', { eager: true }),
)[0] as MDXInstance<PageFrontmatter>;
---

<BaseLayout title="Αντωνίνα Καλλιντέρη" lang="el" description={frontmatter.description}>
  <section class="prose max-w-full m-2">
    <TitleSection title={frontmatter.title} description={frontmatter.description} />
    <Content />
  </section>
</BaseLayout>
