---
import BaseLayout from '../../layouts/BaseLayout.astro';
import '../../styles/global.css';
import type { MarkdownInstance } from 'astro';

interface PageFrontmatter {
  title: string;
  description: string;
}

const { frontmatter, Content } = Object.values(
  import.meta.glob('../../content/el/home.mdx', { eager: true }),
)[0] as MarkdownInstance<PageFrontmatter>;
---

<BaseLayout
  title="Αντωνίνα Καλλιντέρη"
  lang="el"
  description={frontmatter.title}
>
  <section class="prose max-w-full m-2">
    <h2>{frontmatter.title}</h2>
    <h2>{frontmatter.description}</h2>
    <Content />
  </section>
</BaseLayout>
