---
import BaseLayout from '../layouts/BaseLayout.astro';

const personalInfo = {
  name: 'Antonina Kallinteri',
  country: 'Greece',
  occupation: 'Full-stack Engineer',
  hobbies: ['bjj'],
};

const skills = ['HTML', 'CSS', 'JavaScript', 'React', 'NodeJS', 'Astro'];

const mainColor = 'rgb(184, 47, 150)';
const fontWeight = 'bold';
const textCase = 'capitalize';
---

<BaseLayout pageTitle="About me">
  <style is:global define:vars={{ mainColor, fontWeight, textCase }}>
    h1 {
      color: rgb(184, 47, 150);
      font-size: 4rem;
    }

    .skill {
      color: var(--mainColor);
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
    }
  </style>

  <h2>{personalInfo.name}</h2>
  <p>I'm a {personalInfo.occupation} based off of {personalInfo.country}.</p>
  <p>
    Outside of work, I love {
      personalInfo.hobbies.length > 1
        ? personalInfo.hobbies.join(', ')
        : personalInfo.hobbies[0]
    }.
  </p>
  <p>My skills include:</p>
  <ul>
    {skills.map(main => <li class="skill">{main}</li>)}
  </ul>
</BaseLayout>
