---
const { title, description } = Astro.props;
---

<h1 class="md:text-6xl text-3xl text-center md:text-left md:mb-1 mb-0 mt-3">
  {title}
</h1>
<div class="flex flex-wrap items-center md:mt-6 gap-7 pr-6 pl-6 pt-3 pb-3">
  <h2 class="md:text-3xl font-normal md:flex-3">
    {description}
  </h2>
  <div class="md:flex-2 mt-7 ml-auto md:ml-0 text-center hover:animate-wiggle">
    <a
      href="#contact"
      class="rounded-md shadow-xl pl-8 pr-8 pt-3 pb-3 md:pl-15 md:pr-15 md:pt-7 md:pb-7 no-underline bg-purple-200 animate-purple-gradient active:border-6 border-purple-900"
      >Let's talk!</a
    >
  </div>
</div>
